{% load static %}
<section id="slider">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'imagenes/megaflyjuegospc.png' %}" class="d-block w-100" alt="Imagen1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Descargar Juegos para Pc</h5>
        <p>Juegos variados por categorias para descargar por nuestros servidores google drive, Mega y Utorrent</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'imagenes/megaflyjuegosgoogledrive.png' %}" class="d-block w-100" alt="Imagen2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Puedes Descargar juegos para pc gratis 2020</h5>
        <p>Juegos variados para jugar gratis sin internet</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'imagenes/megaflyjuegosmega.jpg' %}" class="d-block w-100" alt="Imagen3">
      <div class="carousel-caption d-none d-md-block">
        <h5>Descargar todos los juegos por mega, Utorrent y google drive</h5>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
</div>
</section>
{% block script %}

{% endblock script %}