{% load static%}
<nav class="navbar navbar-expand-lg mb-2 navbar-light bg-light">
    <div class="container"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fa fa-ellipsis-v"></i>
         </button>
        <a class="navbar-brand" href="{% url 'principal'%}"><img src="{% static 'imagenes/megaflyjuegos.png' %}" class="logo-brand" alt="logo"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div class="dropdown">
        <button class="btn btn-light dropdown-toggle m-1" type="button" id="Categorias_juegos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Por Categorias
        </button>
        <div class="dropdown-menu dropdown-mobile" style="width:650px;" aria-labelledby="Categorias_juegos">
            <div class="container container-sm">
            <div class="row">
            {% for c in categorias%}
                 {% if  c.id  >= 0 and c.id <= 8%}
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="{% url 'categoria' slug=c.slug2 %}">{{c.nombre}}</a>
                </div>
                {% elif  c.id >= 9 and c.id <= 16%}
                 <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="{% url 'categoria' slug=c.slug2 %}">{{c.nombre}}</a>
                </div>
                {% elif  c.id >= 17%}
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="{% url 'categoria' slug=c.slug2 %}">{{c.nombre}}</a>
                </div>
                {%endif%}
            {% endfor%}
            </div>
            </div>
        </div>
        </div>
        <div class="dropdown">
        <button class="btn btn-light dropdown-toggle m-1" type="button" id="Requisitos_Juegos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Por Requisitos
        </button>
        <div class="dropdown-menu " aria-labelledby="Requisitos_Juegos">
            <a class="dropdown-item" href="{% url 'requisitos' 'Requisitos Bajos' %}">Requisitos Bajos</a>
            <a class="dropdown-item" href="{% url 'requisitos' 'Requisitos Medios' %}">Requisitos Medios</a>
            <a class="dropdown-item" href="{% url 'requisitos' 'Requisitos Altos' %}">Requisitos Altos</a>
        </div>
        </div>
        <div class="dropdown ">
        <button class="btn btn-light dropdown-toggle m-1 " type="button" id="fecha_lanzamiento_juegos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Por Fecha de Lanzamiento
        </button>
        <div class="dropdown-menu dropdown-mobile  dropdown-menu-right" style="width:650px;" aria-labelledby="fecha_lanzamiento_juegos">
            <div class="container container-sm">
            <div class="row">
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="{% url 'anio' 1990 %}">1990</a>
                    <a class="dropdown-item" href="{% url 'anio' 1991 %}">1991</a>
                    <a class="dropdown-item" href="{% url 'anio' 1992 %}">1992</a>
                    <a class="dropdown-item" href="{% url 'anio' 1993 %}">1993</a>
                    <a class="dropdown-item" href="{% url 'anio' 1994 %}">1994</a>
                    <a class="dropdown-item" href="{% url 'anio' 1995 %}">1995</a>
                    <a class="dropdown-item" href="{% url 'anio' 1996 %}">1996</a>
                    <a class="dropdown-item" href="{% url 'anio' 1997 %}">1997</a>
                    <a class="dropdown-item" href="{% url 'anio' 1998 %}">1998</a>
                    <a class="dropdown-item" href="{% url 'anio' 1999 %}">1999</a>
                </div>
                 <div class="col-sm-4 p-0">
                   
                    <a class="dropdown-item" href="{% url 'anio' 2000 %}">2000</a>
                    <a class="dropdown-item" href="{% url 'anio' 2001 %}">2001</a>
                    <a class="dropdown-item" href="{% url 'anio' 2002 %}">2002</a>
                    <a class="dropdown-item" href="{% url 'anio' 2003 %}">2003</a>
                    <a class="dropdown-item" href="{% url 'anio' 2004 %}">2004</a>
                    <a class="dropdown-item" href="{% url 'anio' 2005 %}">2005</a>
                    <a class="dropdown-item" href="{% url 'anio' 2006 %}">2006</a>
                    <a class="dropdown-item" href="{% url 'anio' 2007 %}">2007</a>
                    <a class="dropdown-item" href="{% url 'anio' 2008 %}">2008</a>
                    <a class="dropdown-item" href="{% url 'anio' 2009 %}">2009</a>
                </div>
                <div class="col-sm-4 p-0">
                   <a class="dropdown-item" href="{% url 'anio' 2010 %}">2010</a>
                   <a class="dropdown-item" href="{% url 'anio' 2011 %}">2011</a>
                   <a class="dropdown-item" href="{% url 'anio' 2012 %}">2012</a>
                   <a class="dropdown-item" href="{% url 'anio' 2013 %}">2013</a>
                   <a class="dropdown-item" href="{% url 'anio' 2014 %}">2014</a>
                   <a class="dropdown-item" href="{% url 'anio' 2015 %}">2015</a>
                   <a class="dropdown-item" href="{% url 'anio' 2016 %}">2016</a>
                   <a class="dropdown-item" href="{% url 'anio' 2017 %}">2017</a>
                   <a class="dropdown-item" href="{% url 'anio' 2018 %}">2018</a>
                   <a class="dropdown-item" href="{% url 'anio' 2019 %}">2019</a>
                   <a class="dropdown-item" href="{% url 'anio' 2020 %}">2020</a>
                </div>
        </div>
        </div>
        </div>
        </div>
        </ul>
        </div>
        </div>
    </nav>