{% load static%}
<nav class="navbar navbar-expand-lg mb-2 navbar-light bg-light">
    <div class="container"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fa fa-ellipsis-v"></i>
         </button>
        <a class="navbar-brand" href="{% url 'principal'%}"><img src="{% static 'imagenes/megaflyjuegos.png' %}" class="logo-brand" alt="logo"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div class="dropdown">
        <button class="btn btn-light dropdown-toggle m-1" type="button" id="Categorias_juegos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Por Categorias
        </button>
        <div class="dropdown-menu dropdown-mobile" style="width:650px;" aria-labelledby="Categorias_juegos">
            <div class="container container-sm">
            <div class="row">
            {% for c in categorias%}
                 {% if  c.id  >= 0 and c.id <= 8%}
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="{% url 'categoria' slug=c.slug2 %}">{{c.nombre}}</a>
                </div>
                {% elif  c.id >= 9 and c.id <= 16%}
                 <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="{% url 'categoria' slug=c.slug2 %}">{{c.nombre}}</a>
                </div>
                {% elif  c.id >= 17%}
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="{% url 'categoria' slug=c.slug2 %}">{{c.nombre}}</a>
                </div>
                {%endif%}
            {% endfor%}
            </div>
            </div>
        </div>
        </div>
        <div class="dropdown">
        <button class="btn btn-light dropdown-toggle m-1" type="button" id="Requisitos_Juegos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Por Requisitos
        </button>
        <div class="dropdown-menu " aria-labelledby="Requisitos_Juegos">
            <a class="dropdown-item" href="#">Requisitos Bajos</a>
            <a class="dropdown-item" href="#">Requisitos Medios</a>
            <a class="dropdown-item" href="#">Requisitos Altos</a>
        </div>
        </div>
        <div class="dropdown ">
        <button class="btn btn-light dropdown-toggle m-1 " type="button" id="fecha_lanzamiento_juegos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Por Fecha de Lanzamiento
        </button>
        <div class="dropdown-menu dropdown-mobile  dropdown-menu-right" style="width:650px;" aria-labelledby="fecha_lanzamiento_juegos">
            <div class="container container-sm">
            <div class="row">
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="#">2000</a>
                    <a class="dropdown-item" href="#">2001</a>
                    <a class="dropdown-item" href="#">2002</a>
                    <a class="dropdown-item" href="#">2003</a>
                    <a class="dropdown-item" href="#">2004</a>
                    <a class="dropdown-item" href="#">2005</a>
                    <a class="dropdown-item" href="#">2006</a>
                    <a class="dropdown-item" href="#">2007</a>
                    <a class="dropdown-item" href="#">2008</a>
                </div>
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="#">2009</a>
                    <a class="dropdown-item" href="#">2010</a>
                    <a class="dropdown-item" href="#">2011</a>
                    <a class="dropdown-item" href="#">2012</a>
                    <a class="dropdown-item" href="#">2013</a>
                    <a class="dropdown-item" href="#">2014</a>
                    <a class="dropdown-item" href="#">2015</a>
                    <a class="dropdown-item" href="#">2016</a>
                </div>
                <div class="col-sm-4 p-0">
                    <a class="dropdown-item" href="#">2017</a>
                    <a class="dropdown-item" href="#">2018</a>
                    <a class="dropdown-item" href="#">2019</a>
                    <a class="dropdown-item" href="#">2020</a>
                </div>
        </div>
        </div>
        </div>
        </div>
        </ul>
        </div>
        </div>
    </nav>