{% extends "main.html" %}
{% block header %} 
{% endblock header %}
{% block contenido %}
<section>
<div class="container">
<div class="row mt-4">
   <div class="card">
  <h5 class="card-header">{{productos.nombre}}</h5>
  <div class="card-body mb-4">
    <div class="imagenes mb-4">
    <img class="ml-4 mr-4" src="{{productos.imagen.url}}" alt="{{p.nombre}}" style="width:300px;height:300px;">
    <img class="ml-4 mr-4" src="{{productos.imagen2.url}}" alt="{{p.nombre}}" style="width:300px;height:300px;">
    <img class="ml-4 mr-4" src="{{productos.imagen3.url}}" alt="{{p.nombre}}" style="width:300px;height:300px;">
    </div>
    <p class="card-text text-justify">{{productos.descripcion}}</p>
    <a href="#collapseExample" class="btn btn-success" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fab fa-google-drive"></i> Enlace en Google Drive</a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body text-center">
        <a href="{{productos.enlace_publi}}" target="_blank" >{{productos.enlace_publi}}</a>
        <a href="{{productos.enlace_publi2}}" target="_blank" >{{productos.enlace_publi2}}</a>
        <a href="{{productos.enlace_publi3}}" target="_blank" >{{productos.enlace_publi3}}</a>
      </div>
    </div>
    <br><br>
    <a href="#collapseExample2" class="btn btn-danger" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fab fa-google-drive"></i> Enlace Mega</a>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body text-center">
        <a href="{{productos.enlace_publimg}}" target="_blank" >{{productos.enlace_publimg}}</a>
        <a href="{{productos.enlace_publimg2}}" target="_blank" >{{productos.enlace_publimg2}}</a>
        <a href="{{productos.enlace_publimg3}}" target="_blank" >{{productos.enlace_publimg3}}</a>
      </div>
    </div><br><br>
    <p class="card-text text-justify">Generos: {{productos.categoria_pro.all|join:', '}}</p>
  </div>
</div>
</div>
</section>
{% endblock contenido %}