<!DOCTYPE html>
<html lang="es">
    <head>
    {% block head%}
    {% endblock head%}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="7QuQk1wx7T0Pn89sYmD0AzzNi2x-Aa53RCTHFeAxGvQ" />
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href="https://www.megafly.ga/" target="_self">
    <title>{% block title %}Descargra juegos para PC por google drive y mega | Megafly{% endblock title %}</title>
    <meta name="description" content="Descargar una variedad de Juegos para pc por google drive y mega con megafly en nuestra pagina web">
    <meta name="keywords" content="Juegos, Mega, google drive, descargar, gratis, pc, download, megafly, games">
    <meta name="referrer" content="always">
    <meta name="language" content="es">
    <meta name="author" content="Megafly">
    <meta name="category" content="General">
    <meta name="rating" content="General">
    <meta name="robots" content="index" >
    <meta property="og:url" content="https://www.megafly.ga/">
    <meta property="og:title" content="Megafly">
    <meta property="og:description" content="Descargar Juegos para pc por google drive y mega con megafly">
    <meta property="og:site_name" content="Megafly">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Descargar Juegos para pc por google drive y mega con megafly">
    <meta name="twitter:title" content="Megafly">
    <meta name="twitter:site" content="Megafly">
    <meta name="twitter:domain" content="https://www.megafly.ga/">
    <meta name="twitter:creator" content="Megafly">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://www.megafly.ga/">
    <link rel="next" href="https://megafly.ga/categoria/juegos-accion/">
    <meta property="og:locale" content="es_PE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.megafly.ga/">
    {% load static%} 
    {% block estilos %}
    {% endblock estilos %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylefoot.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">      
    <style type="text/css">
    .asteriskField{
        display:none;
    }
    </style>
    <script data-ad-client="ca-pub-7691100873282163" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160595423-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160595423-1');
</script>
    </head>
    <body>
        {% block nav %}
        {% include "superior/nav_main.html"%}
        {% endblock nav %}
        {% block header %}
        
        {% endblock header %}
        {% block error %}
        
        {% endblock error %}
        <div class="container">
        {% block contenido %}
        
        {% endblock contenido %}
        </div>
        {% include "inferior/footer.html"%}
    </body>
    {% block script %}
    
    {% endblock script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>